* {
    box-sizing: border-box;
    color: #333;
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 400;

}

body {
    background-image: url(../img/papel3.jpg);
}

h1 {
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;

}

nav {
    width: 100%;    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer {
    width: 100%;
    padding: 0.5%;
    background-color: rgba(201, 200, 200, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
}

/* Estilos tarjetas dibujos. BORRAR AL FINAL */
/* .galeria {
    display: flex;
    flex-direction: row;
    gap: 3%;
    background-color: rgba(245, 245, 245, 0.555);
    padding: 3%;
    justify-content: center;
} */

#mc01,
#mc02,
#mc03 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    box-shadow: 0 3px 10px rgb(201 200 200);
    border-radius: 3%;
    transition: all 0.5s;
}

#mc01:hover,
#mc02:hover,
#mc03:hover {
    transform: scale(1.1);
}


/* Imagenes portada y banners */
.img-fluid {
    width: 100%;
    height: auto;

}

/* Video portada */
video {
    width: 100vw;
    object-fit: cover;
    clip-path: inset(3% 0% 3% 0%);
    /*recorte de bordes negros sup e inf*/
}

.portada {
    display: flex;
    justify-content: center;
}
/* 
.banners {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */